body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: poppinsregular;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height:64px ;
    width:180px ;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}
.nav{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav:hover{
    transition: 0.3s all;
    color: #5AB18E;
}

#especial{
    border: 2px solid #5AB18E;
    padding: 10px;
    border-radius: 10px;
}
#especial:hover{
    transition: 0.3s all;
    background-color: #5AB18E;
    color: rgb(0, 0, 0);
}

h1{
    font-weight: 200;
    font-size: 40px;
}

/* ---------------------------------- TOPO ---------------------------------- */

main{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
}

h2{
    font-size: 30px;
    line-height: 10px;
    font-family: FiraFans;
}

#destaque{
    color: #5AB18E;
    font-size: 50px;
    font:Fira Sans;
}

p{
    margin-top: 50px;
    text-align: justify;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

#img1{
    width: 600px;
}

form {
    display: flex;
    gap: 10px; /* Espaço entre os inputs */
    align-items: center; /* Alinha os inputs verticalmente */
}

#submit, #Video {
    padding-left: 150px;
}

#video{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#video:hover{
    transition: 0.3s all;
    cursor: pointer;
    color: #5AB18E;
}
#Video i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

#submit{
    background-color: #5AB18E;
    display: flex;
    width: 200px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: ppoppinsmedium;
    font-size: 17px;
}
#submit:hover{
    transition: 0.3s all;
    color: white;
    cursor: pointer;
}

/* ---------------------------------- TEXT ---------------------------------- */

#footer{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

footer {
    background-color: #222222;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 500px;
    width: 100%; 
}