@media screen and (max-width: 1490px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article {
        display: flex;
        margin-top: 50px;
    }
    .grid-imagens img {
        max-width: 300px;
    }
    @media screen and (max-width: 1210px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    #submit{
        align-self: center;
    }
    img{
        display: flex;
        align-items: center;
        /* margin-top: 60px; */
        width: 70%;
        height: auto;
    }
    }
    @media screen and (max-width: 760px) {
        h2{
            font-size: 25px;
            /* line-height: 5px; */
        }
        #destaque{
            font-size: 40px;
        }
    }
    @media screen and (max-width: 640px) {
        /* #img1 {
            display: none;
        } */
        #main {
            flex-direction: column;
        }
        #main2 {
            flex-direction: column;
        }
        h2{
            font-size: 23px;
            /* line-height: 8px; */
        }   
        .conteudoDepoimentos {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 570px) {
        h2{
            font-size: 19px;
        }
        #destaque{
            font-size: 25px;
        }
        /* #title{
            line-height: 20px;
        } */
        /* #submit, #Video {
            padding-left: 10px;
        } */
        .slide {
            flex-direction: column;
        }
    }
    @media screen and (max-width: 540px) {
        h2{
            font-size: 15px;
        }
        #destaque{
            font-size: 33px;
        }
        #main3 {
            flex-direction: column;
        }
        .contato {
            flex-direction: column;
        }
        .textoContato {
            width: unset;
        }
    }
}