* {
    font-family: sans-serif;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* font-family: poppinsregular; */
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height:64px ;
    width:180px ;
}

#title{
    flex-direction: column;
    /* line-height: 10px; */
}

li{
    display: inline-block;
    margin: 20px;
}
.nav{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav:hover{
    transition: 0.3s all;
    color: #5AB18E;
}

#especial{
    border: 2px solid #5AB18E;
    color: #5AB18E;
    padding: 10px;
    border-radius: 10px;
}
#especial:hover{
    transition: 0.2s all;
    background-color: #5AB18E;
    color: rgb(255, 255, 255);
}

/* ---------------------------------- TOPO ---------------------------------- */

main{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#main{
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
    align-items: center;
}

#main2{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 15px;
}

#main3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}

#main3 img{
    width: 100%;
    max-width: 400px;
    /* object-fit: contain; */
    border-radius: 10px;
}

#main3 p{  
    /* width: 400px; */
    text-align: justify;
    /* line-height: 20px; */
    /* font-family: poppinslight; */

}

.submit5{
    background-color: #5AB18E;
    display: flex;
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff ;
    /* font-family: poppinsbold; */
    font-size: 17px;
}
.submit5:hover{
    transition: 0.5s all;
    transform: translateY(-2px);
    background-color: #396e59;
    border-color: #396e59;
    color: white;
    cursor: pointer;
}

.box {
    margin: 0 auto;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background-color: #5AB18E;
    color: white;
    border-radius: 20px;
    border: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.box2 {
    margin: 0 auto;
    /* width: 200px; */
    /* height: 300px; */
    padding: 0 10 20 10px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid #ffffff; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.contato {
    /* margin: 0 auto; */
    /* position: relative; */
    display: flex;
    /* height: 350px; */
    /* width: 100%; */
    margin-top: 250px;
    background-color: #5AB18E;
    color: white;
    border: 1px solid #ddd; 
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.contato p {
    padding-right: 15px;
}

.contato img {
    /* position: relative; */
    /* right: 25px; */
    /* height: 550px; */
    /* bottom: 145px; */
}


h1{
    /* line-height: 8px; */
    font-size: 40px;
    /* font-family: FiraFans; */
}

h2{
    font-size: 30px;
    /* line-height: 10px; */
    /* font-family: FiraFans; */
}

.h2o{
    font-size: 25px;
    /* font-family: FiraFans; */
}

h3{
    font-weight: 200;
    margin-top: 100px;
    /* font-family: FiraFans; */
}

h4{
    font-size: 25px;
    /* font-family: FiraFans; */
}

h2.intro-title {
    margin: 0;
}

#destaque{
    color: #5AB18E;
    font-size: 50px;
    /* font:Fira Sans; */
    font-weight: bold;
}

.text1{
    margin-top: 50px;
    text-align: justify;
    /* line-height: 20px; */
    max-width: 500px;
    /* font-family: poppinslight; */
}

#img1{
    width: 100%;
    max-width: 450px;
}

.img2{
    width: 100px;
    display: block;
    margin: 20 auto;
}

#main form {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* #submit, #Video {
    padding-left: 150px;
} */

#video{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#video:hover{
    transition: 0.3s all;
    cursor: pointer;
    color: #5AB18E;
}
#Video i {
    margin-right: 10px;
}

#submit{
    background-color: #5AB18E;
    display: flex;
    width: 200px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: rgb(0, 0, 0);
    /* font-family: ppoppinsmedium; */
    font-size: 17px;
}
#submit:hover{
    transition: 0.3s all;
    color: white;
    cursor: pointer;
}

.submit2{
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    width: 100px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #5AB18E ;
    /* font-family: poppinsbold; */
    font-size: 17px;
}
.submit2:hover{
    transition: 0.5s all;
    transform: translateY(-2px);
    background-color: #396e59;
    color: white;
    cursor: pointer;
}

h5{
    /* font-family: FiraFans; */
    font-size: 40px;
    margin-top: 0px;
}

.portifolio{
    justify-content: center;
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Alinha os elementos verticalmente */
}

.OndeAtuamos{
    justify-content: center;
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Alinha os elementos verticalmente */
    width: 90%;
    height: 90%;
}

.depoimentos{
    justify-content: center;
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Alinha os elementos verticalmente */
}

.sobre{
    justify-content: center;
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Alinha os elementos verticalmente */
}

.sobre h3{
    margin-bottom: 5px;
}

.BrInoMidia {
    width: 90%; /* Largura do retângulo */
    /* height: 1050px;  */
    background-color: #5AB18E; /* Cor de fundo verde */
    border-radius: 0px; /* Bordas arredondadas (opcional) */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Alinha os elementos verticalmente */
    color: white;
}
.BrInoMidia h3{
    margin-bottom: 5px;
}

.grid-imagens {
    display: grid; /* Ativa o Grid */
    grid-template-columns: 1fr 1fr; /* Define 2 colunas de tamanhos iguais */
    grid-template-rows: auto auto; /* Define 2 linhas automáticas */
    gap: 20px; /* Espaçamento entre as imagens */
    justify-items: center; /* Centraliza as imagens horizontalmente */
    align-items: center; /* Centraliza as imagens verticalmente */
}

.grid-imagens img {
    max-width: 450px; 
    height: auto; /* Mantém a proporção da imagem */
    max-height: 300px; /* Define uma altura máxima para evitar desconfiguração */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço sem distorção */
    border-radius: 6px; /* Bordas arredondadas (opcional) */
    margin: 10px; /* Espaçamento entre as imagens */
}

.submit4{
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff ;
    border: 1px solid #ffffff;
    /* font-family: poppinsbold; */
    font-size: 17px;
}
.submit4:hover{
    transition: 0.5s all;
    transform: translateY(-2px);
    background-color: #396e59;
    border-color: #396e59;
    color: white;
    cursor: pointer;
}


/* ---------------------------------- TEXT ---------------------------------- */

#footer{
    width: 60%;
    margin: 0 auto;
    padding: 10px;
}

footer {
    background-color: #222222;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 500px;
    width: 100%; 
}

/* ---------------------------------- ALLAN ---------------------------------- */

.imagemCar{
    border-radius: 8px;
}

.textoContato {
    /* margin-top: 70px; */
    width: 50%;
}

.submit3{
    background-color: #5AB18E;
    display: flex;
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff ;
    /* font-family: poppinsbold; */
    font-size: 17px;
}
.submit3:hover{
    transition: 0.5s all;
    transform: translateY(-2px);
    background-color: #396e59;
    border-color: #396e59;
    color: white;
    cursor: pointer;
}

.conteudoSobre {
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    width: 70%;
    border: 2px #5AB18E solid;
    border-radius: 8px;
    padding: 40px 40px;
    padding-top: 60px;
    text-align: left;
    margin-bottom: 50px;
}

.textoSobre {
    width: 50%;
}

.conteudoSobre img {
    width: 50%;
    object-fit: contain;
}

#areaFormContato{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    /* height: 570px; */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

#areaFormContato h2 {
    color: black;
}

#formContato {
    display: flex;
    flex-direction: column;
}

.formContatoInputs{
    width: 100%;
    padding: 8px;
    padding-left: 25px;
    border: none;
    background-color: #D9D9D933;
    margin-bottom: 15px;
    height: 50px;
    border-radius: 8px;
}

.submitContato {
    width: 100%;
}

#formContato textarea{
    /* font-family: Arial; */
    width: 100%;
    padding: 20px 25px;
    border: none;
    background-color: #D9D9D933;
    border-radius: 8px;
    margin-bottom: 15px;
}

.contato2 {
    margin: 0 auto;
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    /* height: 350px; */
    width: 90%;
    margin-top: 150px;
    background-color: #5AB18E;
    color: white;
    border: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.textoContato2 {
    flex: auto;
    margin-top: 70px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    
}

#formasContato {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-bottom: 20px;
}

#formasContato div {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#formasContato span {
    padding-left: 20px;
    text-align: left;
}

#formasContato img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}


.textoContato2 h3{
    margin-top: 0px;
    width: 30%;
}

.textoContato2 p{
    font-size: 14px;
}

.conteudoDepoimentos{
    display: flex;
    margin: auto;
    margin-bottom: 90px;
    width: 90%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.areasDepoimento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #56b48f 2px solid;
    border-radius: 8px;
    max-width: 320px;
    /* height: 250px; */
    padding: 30px 20px 20px 15px;
    /* margin: 20px; */
    text-align: start;
}

.pessoaDepoimento{
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    align-items: center;     /* centraliza horizontalmente */
    text-align: center; 
}

.pessoaDepoimento div{
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    align-items: start;     /* centraliza horizontalmente */
    margin-left: 20px;
}
/* ---------------------------------- Daniel ---------------------------------- */


.carrosel-container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.carossel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.slide-content {
    position: flex;
    width: 50%;
    background-color: #4CAF90;
    color: white;
    height: 470px;
    padding-left: 50px;
    /* clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%); */
}

.slide-content h3 {
    margin-top: 150px;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.8;
}

.slide-content h2 {
    font-size: 26px;
    margin: 10px 0 20px;
}

.slide-content p {
    padding-right: 40px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.9;
}

.slide-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #4CAF90;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* font-family: poppinsbold; */
    font-size: 17px;
}

.slide-content button:hover {
    background-color: #396e59;
    color: white;
    transition: 0.5s all;
    transform: translateY(-2px);
}

.slide-image {
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.arrow:hover {
    background-color: #e2e2e2;
    transition: 0.3s all;
}

.arrow-left {
    left: 5px;
}

.arrow-right {
    right: 5px;
}